@use "variables";

svg {
    overflow: visible;
    display: block;
    width: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    // padding: 0 50px;
  }
  
  button {
    width: 100px;
    border: 1px solid black;
    margin: 0 auto 5px;
  }

  // Set rectangle text styles for the family tree
  .bigger{
    font-family: "Oswald";
    font-size: 16px;
  }
  .pietext{
    font-size: 15px;
    fill:rgb(231, 219, 219);
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .pielabel{
    font-size:25px;
    font-weight:700
  }